<suite name="All Test Suite">
    <listeners>
        <listener class-name="eshop.TestAutomation.TestComponents.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="CatalogPageTest">
        <classes>
            <class name="eshop.TestAutomation.Test.CatalogPageTest">
                <methods>
                    <include name="verifyCatalogListDisplayed"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="loginTest">
        <classes>
            <class name="eshop.TestAutomation.Test.loginTest">
                <methods>
                    <include name="verifyLogin"/>
                    <include name="verifyLogOut"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="SubmitOrderTest">
        <classes>
            <class name="eshop.TestAutomation.Test.SubmitOrderTest">
                <methods>
                    <include name="verifyAddToBasket"/>
                    <include name="verifyCheckout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>